<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>The First Heading<span class="text-secondary">Will Catch Your Eye</span></h1>
         
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dignissimos sequi adipisci maxime fugit
                similique dolorem iste quisquam, placeat nemo facilis excepturi, porro, illum dolor ullam! Nostrum
                dolorem
                tenetur commodi!</p>
        </div>
        <div class="col-4">              
            <img src="assets/img/1.jpg" alt="Imagen first-heading" class="rounded-circle w-100">
        </div>
    </div>
</div>